      .video-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 17px;
        row-gap: 40px;

      }

      @media (max-width: 750px){
        .video-grid{
          grid-template-columns: 1fr 1fr;
        }
      }

      @media (min-width: 750px) and (max-width: 1000px){
        .video-grid{
          grid-template-columns: 1fr 1fr 1fr;
        }
      }


      @media (min-width: 1000px){
        .video-grid{
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
      }

    
        

            
      .thumbnail{
       
        
        width: 100%;
                
        
      }

      
      .video-title{
        margin-top: 0px;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 10px;
        
      }
      .video-author,
      .video-stats{
        margin-bottom: 0px;
        font-size: 13px;
        color: rgb(100,100,100);
        
      }
      .video-author{
        margin-bottom: 4px;
      }
      .video-time{
        background-color: black;
        color: white;
        position: absolute;
        bottom: 8px;
        right: 5px;
        font-family: Roboto,arial;
        font-size: 12px;
        font-weight: 500;
        padding : 4px;
        border-radius: 2px;
  
      }
      

      .thumbnail-row{
        margin-bottom: 9px;
        position: relative;
        
      }
     
      
        

      .video-info-grid{
        display: grid;
        grid-template-columns: 50px 1fr;

      }

      
        
      
      .profile-picture{
        width: 36px;
        border-radius: 150%;
        
      }

    

      